
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #ffffff;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #121212;;
}

.box {
  border-radius: 30px;
  padding: 30px;
  background-color: white;
  display: flex;
  gap: 15px;
}

.section_h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
}
.section_v {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

h1{color: #ffffff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
  letter-spacing: -0.72px;
}
h2 {color: #ffffff;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 52px;
letter-spacing: -1.32px;
}

h3 {
  color: #ffffff;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; 
letter-spacing: -0.4px;
}

h4{
  color: #BCBCBC;
font-size: 14px;
font-style: normal;
font-weight: 600;
}

p {color: #ffffff;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 19.2px;
letter-spacing: 0.42px;
}

.flex__1 {
  flex: 1 1 0;
}

.flex__2 {
  flex: 2 1 0;
}

.mini__card{
  height: 60px;
}
.big__card{
  height: 200px;
}

.third {  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}